# web framwork
fastapi
uvicorn[standard]
python-multipart

# Langchain $ ecosystem
langchain
langchain-community
langchain-core
langchain-groq

# vectoreStore
pinecone

# embedding
langchain-google-genai
langchain_openai

# pdf parsing 
PyPDF

# env variable
python-dotenv

# typing 
pydantic
requests
tqdm

# logging
loguru


